@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap");
@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin h1size($n) {
  font-size: $n * 5.653rem;
}
@mixin h2size($n) {
  font-size: $n * 3.998rem;
}
@mixin h3size($n) {
  font-size: $n * 2.827rem;
}
@mixin h4size($n) {
  font-size: $n * 1.999rem;
}
@mixin h5size($n) {
  font-size: $n * 1.414rem;
}
@mixin psize($n) {
  font-size: $n * 1rem;
}

* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  accent-color: hotpink;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
h1 {
  @include for-phone() {
    @include h1size(0.5);
  }
  @include for-tablet-portrait() {
    @include h1size(0.7);
  }
  @include for-desktop() {
    @include h1size(0.9);
  }
}

body {
  background-color: rgb(236, 235, 235);
  color: rgb(1, 1, 92);
  display: grid;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button {
  border: none;
  background-color: rgb(1, 1, 92);
  color: white;
  padding: 8px;
  border-radius: 5px;
}

header {
  display: grid;
  place-content: center;
  min-height: 50vw;
  width: 100vw;
  margin-inline: auto;
  text-align: center;
  padding: 2rem;
  .form_wrapper {
    display: grid;
    place-content: center;
    text-align: center;
  }
  form {
    display: grid;
    max-width: 800px;
    text-align: center;
    place-content: center;
    justify-items: center;
    gap: 2rem;
    @include for-desktop() {
      gap: 3rem;
    }
  }
  #url {
    max-width: 50rem;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
  button {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  grid-template-rows: auto;
  place-content: center;
}
#results {
  display: grid;
  grid-column: 2/3;
  grid-row: 1;
  h2 {
    text-align: center;
  }
  margin-top: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
  @include for-desktop() {
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .info_wrapper {
    display: grid;
    gap: 1rem;
    @include for-desktop() {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem;
    }
  }
  .barometer {
    display: grid;
    border: 2px solid rgb(1, 1, 92);
    background: rgb(232, 31, 13);
    background: linear-gradient(
      90deg,
      rgba(232, 31, 13, 1) 0%,
      rgba(224, 214, 22, 1) 50%,
      rgba(43, 195, 39, 1) 100%
    );
    max-height: 4rem;
    border-radius: 5px;
    align-items: end;
    .arrow {
      display: grid;
      place-content: center;
      @include for-desktop() {
        font-size: xx-large;
      }
    }
    @include for-desktop() {
      grid-column: 1 / span 3;
      grid-row: 1;
    }
  }
  .webhost_info {
    border: 2px solid rgb(1, 1, 92);
    display: grid;
    gap: 1rem;
    padding: 1rem;
    @include for-desktop() {
      grid-column: 1 / span 2;
      grid-row: 2/4;
      gap: 2rem;
      padding: 2rem;
    }
    .change_host {
      display: grid;
      gap: 1rem;
      @include for-desktop() {
        gap: 2rem;
      }
    }
    .host_boxes_wrapper {
      display: flex;
      justify-content: center;
      gap: 1rem;
      @include for-desktop() {
        gap: 2rem;
      }
    }
    .webhost_box {
      border: 2px solid rgb(1, 1, 92);
      padding: 1rem;
    }
  }
  .plantman_state {
    border: 2px solid rgb(1, 1, 92);
    display: grid;
    width: 10rem;
    height: 10rem;
    margin-inline: auto;
    @include for-desktop() {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
  .try_another_button {
    display: grid;
    place-content: center;
    justify-items: center;
    @include for-desktop() {
      grid-column: 3/4;
      grid-row: 3/4;
    }
  }
}

#technical_facts {
  h2 {
    text-align: center;
  }
  display: grid;
  grid-column: 2/3;
  gap: 2rem;
  margin-bottom: 2rem;
  @include for-desktop() {
    grid-row: 2;
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .tech_info_wrapper {
    display: grid;
    border: 2px solid rgb(1, 1, 92);
    padding: 1rem;
    gap: 1rem;
    @include for-desktop() {
      padding: 2rem;
      gap: 2rem;
    }
  }
  .tech_img {
    display: block;
    width: 15rem;
    height: 15rem;
    border: 2px solid rgb(1, 1, 92);
    @include for-phone() {
      margin-inline: auto;
    }
  }
  .top {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      .tech_img {
        grid-column: 1;
      }
    }
  }
  .bottom {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      .tech_img {
        grid-column: 3;
      }
      .tech_text {
        grid-row: 1;
      }
    }
  }
}
footer {
  border-top: 2px solid rgb(1, 1, 92);
  padding: 1rem;
  @include for-desktop() {
    padding: 2rem;
  }
}
