//google font via import
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap");

// mixins til responsive
@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin for-bigboi {
  @media (min-width: 1300px) {
    @content;
  }
}
//font sizes taget fra type scale calculator
@mixin h1size($n) {
  font-size: $n * 5.653rem;
}
@mixin h2size($n) {
  font-size: $n * 3.998rem;
}
@mixin h3size($n) {
  font-size: $n * 2.827rem;
}
@mixin h4size($n) {
  font-size: $n * 1.999rem;
}
@mixin h5size($n) {
  font-size: $n * 1.414rem;
}
@mixin psize($n) {
  font-size: $n * 1rem;
}

// farve variabler
$blue: #17386e;
$white: white;
$beige: #e8dfd6;
$hotpink: #ff69b4;
$green: #1cba30;
$darkgreen: #259636;

//reset
* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  accent-color: hotpink;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  @include for-phone() {
    @include psize(1);
  }
  @include for-tablet-portrait() {
    @include psize(1);
  }
  @include for-desktop() {
    @include psize(1);
  }
}
h1 {
  @include for-phone() {
    @include h1size(0.5);
  }
  @include for-tablet-portrait() {
    @include h1size(0.7);
  }
  @include for-desktop() {
    @include h1size(0.9);
  }
}
h2 {
  @include for-phone() {
    @include h2size(0.5);
  }
  @include for-tablet-portrait() {
    @include h2size(0.7);
  }
  @include for-desktop() {
    @include h2size(0.9);
  }
}
h3 {
  @include for-phone() {
    @include h3size(0.5);
  }
  @include for-tablet-portrait() {
    @include h3size(0.7);
  }
  @include for-desktop() {
    @include h3size(0.9);
  }
}
h4 {
  @include for-phone() {
    @include h4size(0.5);
  }
  @include for-tablet-portrait() {
    @include h4size(0.7);
  }
  @include for-desktop() {
    @include h4size(0.9);
  }
}
h5 {
  @include for-phone() {
    @include h5size(0.5);
  }
  @include for-tablet-portrait() {
    @include h5size(0.7);
  }
  @include for-desktop() {
    @include h5size(0.9);
  }
}
//------------ content ------------
body {
  background-color: $white;
  color: $blue;
  display: grid;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  // Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button {
  border: none;
  background-color: $darkgreen;
  color: $white;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #17386e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: $beige;
  transition: transform 2s ease-in-out;
}

.loader-img {
  max-width: 20rem;
}

.right {
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
}

header {
  background-color: $white;
  width: 100vw;
  margin-inline: auto;
  text-align: center;

  #header-top {
    display: grid;
    align-items: center;
    min-height: 35vh;
  }

  #header-bottom {
    padding-bottom: 2rem;
    min-height: 50vh;
  }

  .form_wrapper {
    background-color: $beige;
    padding-block: 2rem 6rem;
    display: grid;
    place-content: center;
    text-align: center;

    @include for-desktop() {
    }
  }

  .plant-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @include for-desktop() {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      gap: 14rem;
    }
  }

  .plantman {
    z-index: 2;
    position: relative;
    margin-bottom: -1rem;

    img {
      @include for-phone() {
        width: 40vw;
      }

      @include for-tablet-portrait() {
        width: 35vw;
      }

      @include for-desktop() {
        width: 15vw;
      }
    }
  }

  form {
    display: grid;

    text-align: center;
    place-content: center;
    justify-items: center;
    gap: 2rem;
    @include for-desktop() {
      text-align: left;
      justify-items: left;
      place-content: initial;
      gap: 2rem;
      min-width: 50vw;
    }
  }
  #url {
    /*   max-width: 50rem; */
    width: 100%;
    border: none;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border-radius: 5px;
    background-color: $white;

    @include for-desktop() {
      max-width: 60vw;
    }
  }
  button {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $hotpink;
    }
  }
}

.barometer_wrapper {
  box-sizing: content-box;
  position: relative;
  z-index: 2;
  border: solid 1px black;
  height: 3.5rem;
  border-radius: 5px;
  width: 80vw;

  @include for-desktop() {
    width: 60vw;

    margin-bottom: 5px;
    grid-column: 1/3;
  }
  @include for-bigboi() {
    width: 60vw;
    justify-self: center;
    margin-bottom: 5px;
    grid-column: 1/3;
  }
}

.barometer {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    $hotpink 0vw,
    rgb(147, 168, 29) 50%,
    $green 100vw
  );
  transition: width 2s ease-in-out;
}

#result_per {
  -webkit-transition: all 2s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hide {
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

.hiddenhide {
  display: none;
}

#result-section {
  display: grid;
  justify-content: center;
  gap: 2rem;

  @include for-desktop() {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 0;
    margin-inline: 8rem 2rem;
  }

  @include for-bigboi() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 24rem;
  }

  .plant-result {
    margin-top: 2rem;
    margin-inline: auto;
    @include for-desktop() {
      margin-top: 0;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: left;
    }

    @include for-bigboi() {
      display: flex;
      justify-self: end;
      margin-inline: 0;
    }
    img {
      @include for-phone() {
        width: 40vw;
        height: 32vw;
      }

      @include for-tablet-portrait() {
        width: 35vw;
        height: 30vw;
      }

      @include for-desktop() {
        width: 15vw;
        height: 12vw;
      }
    }
  }
}

#results {
  margin-top: 6rem;

  @include for-desktop() {
    gap: 3rem;
    margin-bottom: 3rem;
  }
}

#action-section {
  margin-top: 4rem;
  padding: 2rem;
  background-color: $beige;
  border-radius: 1rem;

  @include for-bigboi() {
    margin-inline: 24rem;
  }
  h3 {
    text-align: center;
    @include for-tablet-portrait() {
      text-align: left;
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-gap: 2rem;
  margin-inline: 1rem;
  margin-top: 1.5rem;
}

.card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: -5px 12px 10px #634a3e;
  height: 360px;
  width: 300px;

  h4 {
    margin-top: -1rem;
  }

  .card-descrip {
    line-height: 1.5rem;
  }

  a {
    margin-top: -1rem;
    font-family: "Roboto", sans-serif;
    color: $darkgreen;

    &:hover {
      color: $hotpink;
    }
  }

  .card-heading {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-left: 2px;
    margin-bottom: -0.5rem;
  }
}

.card-btn {
  &:hover {
    cursor: pointer;
    background-color: $hotpink;
  }
}

.deactivated {
  background-color: gray;
}

#technical_facts {
  display: grid;
  grid-column: 2/3;
  gap: 2rem;
  margin-bottom: 2rem;

  @include for-desktop() {
    grid-row: 2;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  h2 {
    text-align: center;
  }
  hr {
    color: $hotpink;
    margin-inline: auto;
    width: 80%;
  }
  .tech_info_wrapper {
    display: grid;
    border: 2px solid $blue;
    padding: 1rem;
    gap: 1rem;
    background-color: $blue;
    border-radius: 5px;
    color: $white;
    @include for-desktop() {
      padding: 2rem;
      gap: 2rem;
    }
  }
  .tech_img {
    display: block;
    width: 15rem;
    height: 15rem;
    /* border: 2px solid $white; */
    @include for-phone() {
      margin-inline: auto;
    }
  }
  .top {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;

      .tech_text {
        margin-right: 5rem;
      }
      .tech_img {
        grid-column: 1;
        margin-left: 3rem;
      }
    }
  }
  .bottom {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: end;

      .tech_img {
        grid-column: 2;
        margin-right: 3rem;
      }
      .tech_text {
        grid-row: 1;
        margin-left: 5rem;
      }
    }
  }
}
footer {
  border-top: 2px solid $blue;
  padding: 1rem;
  @include for-desktop() {
    padding: 2rem;
  }

  .credit {
    display: flex;
  }

  p {
    margin-block-start: 0.5rem;
    margin-inline-end: 0.5rem;
  }
}
