//google font via import
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap");

// mixins til responsive
@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1000px) {
    @content;
  }
}
//font sizes taget fra type scale calculator
@mixin h1size($n) {
  font-size: $n * 5.653rem;
}
@mixin h2size($n) {
  font-size: $n * 3.998rem;
}
@mixin h3size($n) {
  font-size: $n * 2.827rem;
}
@mixin h4size($n) {
  font-size: $n * 1.999rem;
}
@mixin h5size($n) {
  font-size: $n * 1.414rem;
}
@mixin psize($n) {
  font-size: $n * 1rem;
}

// farve variabler
$blue: #17386e;
$white: white;
$beige: #e8dfd6;
$hotpink: #ff69b4;
$green: #298637;

//reset
* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  accent-color: hotpink;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  @include for-phone() {
    @include psize(1);
  }
  @include for-tablet-portrait() {
    @include psize(1);
  }
  @include for-desktop() {
    @include psize(1);
  }
}
h1 {
  @include for-phone() {
    @include h1size(0.5);
  }
  @include for-tablet-portrait() {
    @include h1size(0.7);
  }
  @include for-desktop() {
    @include h1size(0.9);
  }
}
h2 {
  @include for-phone() {
    @include h2size(0.5);
  }
  @include for-tablet-portrait() {
    @include h2size(0.7);
  }
  @include for-desktop() {
    @include h2size(0.9);
  }
}
h3 {
  @include for-phone() {
    @include h3size(0.5);
  }
  @include for-tablet-portrait() {
    @include h3size(0.7);
  }
  @include for-desktop() {
    @include h3size(0.9);
  }
}
h4 {
  @include for-phone() {
    @include h4size(0.5);
  }
  @include for-tablet-portrait() {
    @include h4size(0.7);
  }
  @include for-desktop() {
    @include h4size(0.9);
  }
}
h5 {
  @include for-phone() {
    @include h5size(0.5);
  }
  @include for-tablet-portrait() {
    @include h5size(0.7);
  }
  @include for-desktop() {
    @include h5size(0.9);
  }
}
//------------ content ------------
body {
  background-color: $white;
  color: $blue;
  display: grid;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  // Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button {
  border: none;
  background-color: $blue;
  color: $white;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  border-radius: 5px;
}

header {
  display: grid;
  place-content: center;
  background-color: $beige;
  min-height: 50vw;
  width: 100vw;
  margin-inline: auto;
  text-align: center;
  padding: 2rem;
  .form_wrapper {
    display: grid;
    place-content: center;
    text-align: center;
  }
  .white_box {
    background-color: $white;
    border-radius: 5px;
    padding: 2rem;
    grid-row: 2/8;
    grid-column: 1;
    padding-block-start: 5rem;

    @include for-tablet-portrait() {
      grid-row: 3/8;
    }

    @include for-desktop() {
      padding: 3rem;
    }
  }

  .img_box_wrapper {
    display: grid;
    grid-template-rows: repeat(6, 0.5fr);

    @include for-tablet-portrait() {
      display: grid;
      grid-template-rows: repeat(8, 0.5fr);
    }
  }

  .plantman {
    grid-row: 1/5;
    grid-column: 1;
    z-index: 1;

    @include for-tablet-portrait() {
      grid-row: 1/4;
    }

    @include for-desktop() {
      grid-row: 1/5;
    }

    img {
      @include for-phone() {
        width: 40vw;
      }

      @include for-tablet-portrait() {
        width: 35vw;
      }

      @include for-desktop() {
        width: 15vw;
      }
    }
  }

  form {
    display: grid;
    max-width: 800px;
    text-align: center;
    place-content: center;
    justify-items: center;
    gap: 2rem;
    @include for-desktop() {
      gap: 3rem;
    }
  }
  #url {
    /*   max-width: 50rem; */
    width: 100%;
    border: none;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border-radius: 5px;
    background-color: $beige;
  }
  button {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  grid-template-rows: auto;
  place-content: center;
}

.info_symbol_wrapper {
  display: flex;
  justify-content: space-between;

  .symbol {
    img {
      height: 9vh;
      margin-inline: 1rem;

      @include for-desktop() {
        height: 15vh;
      }
    }
  }
}

#results {
  display: grid;
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
  @include for-desktop() {
    gap: 3rem;
    margin-bottom: 3rem;
  }
  h2 {
    text-align: center;
  }
  hr {
    color: $hotpink;
    margin-inline: auto;
    width: 50%;
  }
  .info_wrapper {
    display: grid;
    gap: 1rem;
    @include for-desktop() {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    }
  }
  .barometer {
    display: grid;
    background: rgb(232, 31, 13);
    background: linear-gradient(
      90deg,
      $hotpink 0%,
      rgba(224, 214, 22, 1) 50%,
      $green 100%
    );
    max-height: 4rem;
    border-radius: 5px;
    align-items: end;
    .arrow {
      display: grid;
      place-content: center;
      @include for-desktop() {
        font-size: xx-large;
      }
    }
    @include for-desktop() {
      grid-column: 1 / span 3;
      grid-row: 1;
    }
  }
  .webhost_info {
    display: grid;
    gap: 1rem;

    @include for-desktop() {
      grid-column: 1 / span 2;
      grid-row: 3/5;
      gap: 2rem;
    }
    .change_host {
      display: grid;
      background-color: $beige;
      border-radius: 5px;
      padding-block: 1rem;
      padding-inline: 2rem;
      gap: 1rem;
      @include for-desktop() {
        gap: 2rem;
      }

      h4 {
        align-self: end;
      }
    }
    .host_boxes_wrapper {
      display: flex;
      justify-content: center;
      gap: 1rem;
      @include for-desktop() {
        gap: 2rem;
      }
    }
    .webhost_box {
      border: 2px solid $blue;
      padding: 1rem;
    }
  }
  .plantman_state {
    /*  border: 2px solid $blue; */
    display: grid;
    height: 10rem;
    margin-inline: auto;
    @include for-desktop() {
      grid-column: 3/4;
      grid-row: 3/4;
    }
  }
  .try_another_button {
    display: grid;
    place-content: center;
    justify-items: center;
    @include for-desktop() {
      grid-column: 3/4;
      grid-row: 4/5;
    }
  }
}

#technical_facts {
  display: grid;
  grid-column: 2/3;
  gap: 2rem;
  margin-bottom: 2rem;

  @include for-desktop() {
    grid-row: 2;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  h2 {
    text-align: center;
  }
  hr {
    color: $hotpink;
    margin-inline: auto;
    width: 80%;
  }
  .tech_info_wrapper {
    display: grid;
    border: 2px solid $blue;
    padding: 1rem;
    gap: 1rem;
    background-color: $blue;
    border-radius: 5px;
    color: $white;
    @include for-desktop() {
      padding: 2rem;
      gap: 2rem;
    }
  }
  .tech_img {
    display: block;
    width: 15rem;
    height: 15rem;
    /* border: 2px solid $white; */
    @include for-phone() {
      margin-inline: auto;
    }
  }
  .top {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;

      .tech_text {
        margin-right: 5rem;
      }
      .tech_img {
        grid-column: 1;
      }
    }
  }
  .bottom {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    @include for-desktop() {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: end;

      .tech_img {
        grid-column: 2;
      }
      .tech_text {
        grid-row: 1;
        margin-left: 5rem;
      }
    }
  }
}
footer {
  border-top: 2px solid $blue;
  padding: 1rem;
  @include for-desktop() {
    padding: 2rem;
  }

  .credit {
    display: flex;
  }

  p {
    margin-block-start: 0.5rem;
    margin-inline-end: 0.5rem;
  }
}
